// Default Blue
$theme_color_default: #0860f2;

// Blue
$theme_color_blue: #2e7cf7;

// Purple
$theme_color_purple: #9a57a3;

// pink
$theme_color_pink: #e55e9c;

// red
$theme_color_red: #ed5f5d;

// orange
$theme_color_orange: #e9873a;

// yellow
$theme_color_yellow: #f3ba4b;

// green
$theme_color_green: #98c379;

// grey
$theme_color_grey: #8c8c8c;
